/* Áp dụng cho toàn bộ button và input[type="button"], input[type="submit"] */
button,
input[type="button"],
input[type="submit"] {
  @apply cursor-pointer;
}
.sidebar {
  overflow-y: auto;

  /* Firefox */
  scrollbar-width: none;

  /* IE, Edge cũ */
  -ms-overflow-style: none;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
